body {
  margin: 32px;
}

#app {
  width: 400px;
  height: 130px;
}

// ここから！

.c3t {
  border: 1px solid;
  overflow: auto;

  &--fit-container {
    height: 100%;
  }

  * {
    box-sizing: border-box;
  }

  &__table {
    border-collapse: separate;
    border-spacing: 0;
  }

  &__header {
    position: sticky;
    top: 0;
    z-index: 1;
  }

  &__cell, &__header-cell {
    border-right: 1px solid;
    border-bottom: 1px solid;
    white-space: nowrap;
    padding-top: 4px;
    padding-left: 8px;
    padding-right: 8px;
    padding-bottom: 4px;
    background-color: #fff;

    &:last-child {
      border-right: 0;
    }
  }

  &__header-cell {
    background-color: #eee;
  }
}

th:first-child {
  position: sticky;
  left: 0;
  // background-color: #fff;
}

thead th:first-child {
  z-index: 2;
}
